@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --primary-color: #f8ff95;
  --secondary-color: #f8ff95;
  --shadow: 3px 3px 3px black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Indie Flower";
}

#root {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      217deg,
      rgb(97, 12, 159, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(159, 97, 12, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(12, 159, 97, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
}

.player-score {
  padding: 0 100px;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  height: 399px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--secondary-color);
  text-shadow: var(--shadow);
}

.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(4),
.tile:nth-child(5) {
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.tile:nth-child(3),
.tile:nth-child(6) {
  border-bottom: 3px solid var(--primary-color);
}
.tile:nth-child(7),
.tile:nth-child(8) {
  border-right: 3px solid var(--primary-color);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
}
dialog {
  background: transparent;
  border-color: var(--primary-color);
  box-shadow: var(--shadow);
}

#win-message {
  height: 200px;
  aspect-ratio: 4 / 3;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary-color);
  text-shadow: var(--shadow);
}

button {
  --button-height: 33px;
  height: var(--button-height);
  aspect-ratio: 16 / 9;
  margin-top: 20px;
  border-style: none;
  border-radius: calc(var(--button-height) / 2);
  background: var(--primary-color);
  filter: drop-shadow(var(--shadow));
  font-family: "Indie Flower";
  font-weight: 700;
}
